<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StartTime" value="03:50 PM " />
		<add key="callDuration" value="2" />
		<add key="CallType" value="1" />
		<add key="FromMail" value="your_from_email_id@gmail.com" />
		<add key="Password" value="your_email_id_password" />
		<add key="Host" value="smtp.gmail.com" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="your_from_email_id@gmail.com">
				<network host="smtp.gmail.com" userName="your_from_email_id@gmail.com" password="your_email_id_password" enableSsl="true" port="587" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
