@using System.Activities.Expressions
@using Ticket.Models
@model List<Ticket>
@{
    ViewBag.Title = "Index";
}

<h1 class="mb-2">Gönderilerim</h1>
<div class="container-fluid mt-2">
    @foreach (Ticket t in Model)
    {
        <div class="row mt-2 ">
            <div class="col-md-2"></div>
            <div class="col-md-8 border rounded align-self-center">
                <h2>@t.Title</h2>
                <p>@t.Text</p>
                <p class="text-right"><small>@t.DateTime.ToString("d")</small></p>
                <br />
                <br />

                <p class="text-right">Bilet Tipi : @t.Type</p>
                @if (t.IsSolved)
                {
                    <p class="text-right text-success">Çözüldü</p>
                }
                else
                {
                    
                    <p class="text-right text-warning">Açık</p>

                }



            </div>
            <div class="col-md-5">

            </div>
        </div>
    }

</div>





