
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Giriş Yap", "Index", "SignIn" ,null,new {@class = "btn btn-default" })
@Html.ActionLink("Kayıt Ol", "Index", "Register",null,new {@class = "btn btn-info" })


