
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p class="lead">Bu basit bir bilet uygulamasıdır.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4" style="height:5rem">
            <a class="btn btn-default btn-block float-right h-100" href="/SignIn"><p><strong style="font-size: 2rem">Giriş Yap</strong></p> </a>
        </div>
        <div class="col-4" style="height:5rem">
            <a class="btn btn-info btn-block h-100" href="/Register"><p><strong style="font-size: 2rem">Kayıt Ol</strong></p></a>

        </div>
    </div>
   
</div>





