@model List<string>
<div class="alert alert-@Model[0] alert-dismissible fade show" role="alert">
    @Model[1]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>