

<div class="alert alert-success" role="alert">
    <strong>Başarılı!</strong> Hesabınız onaylandı ana sayfaya yönlendiriliyorsunuz.Eğer yönlendirilmezseniz aşağıdaki linke tıklayın.
</div>
<br />
@Html.ActionLink("Bana Tıkla","Index","Home")


@section Scripts{
    <script>
        window.setTimeout(
            function () {
            window.location.href='/Tickets/Index';
        }, 2000);
    </script>

}
